

body{
    color: rgb(190, 190, 179);
    background: linear-gradient(45deg, blue, red);
    box-sizing: border-box; 
    width:1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.header-title {
    font-size: 30px;
    color:#ffffff;
}

.header-title:hover {
    transition: color 3s ease;
    color: brown;
}


.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-item{
   padding-right: 20px;
   
}

.menu-link {
    display: flex;
    align-items: center;
    background-color:blue;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}

.menu-link:hover {
    background-color: #ffffff;
    color: blue;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-grow: 1;
   
}
.main-title {
    color:#ffffff;;

}
.main-description {
    font-size: 22px;
}
.main-hobbies {
    color:#ffffff;;
}



table,tr,td{
    border: 1px solid wheat;
    text-align: center;
    background-color: rgb(40, 120, 212);
    margin-bottom: 20px;
    font-size: 26px;
}

td:hover{
    color: aqua;
}

.main-list  {
    list-style: none;
    font-size: 20px;    
    margin: 0;
    margin-bottom: 15px;
    padding: 0; 
    
}

.main-item {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.main-link {
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.card{
    text-align: center;
}

.header-logo{
    border-radius: 3em;
    width: 80px;
    height: 80px;
}

.hobbies-table {
    width:600px;
}

.subscription{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;

}

.subscription__email {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.subscription__input {
    text-align: center;
    width:300px;
    height: 30px;
    margin: 0;
}

.subscription__button {
    position: absolute;
    top:47px;
    left:304px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
    border: 0;
    background-color: blue;
    color: #ffffff;;
}

.page-footer {
    display: flex;
    justify-content: center;
    background-color: black;


}


